#app_main {
  background-color: #7fffd4;
  height: calc(100vh - 216px);
}

#app_footer {
  font-size: 20px;
  height: 100px;
}

.score {
  background-color: #7fffd4;
  font-size: 30px;
  padding-top: 2rem;
  padding-left: 2rem;
}

img {
  max-height: 100px;
}

.bg_white {
  background-color: rgb(255, 255, 255);
}

.width_200 {
  width: 200px;
  background-color: rgb(199, 199, 199);
  font-size: large;
  font-weight: 700;
}

.my_row {
  display: flex;
  justify-content: center;
  height: calc((70vh - 216px) / 10);
}

.my_col {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((70vh - 216px) / 10);
  height: 100%;
  border: 1px solid black;
}

.my_card {
  height: 300px;
  width: 300px;
  background-color: #68fecc;
  box-shadow: 0px 0px 30px 5px black;
  font-size: 2rem;
  z-index: 4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.overlay.active {
  display: block;
}
